.navbar {
  background-color:gray;
  padding: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 2px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  color: red;
}
